# Ігнорування файлів віртуального оточення
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігнорування конфігураційних файлів IDE
.vscode/
.idea/
*.sublime-workspace

# Ігнорування логів та тимчасових файлів
*.log
*.tmp
*.swp
*.swo
.DS_Store

# Ігнорування залежностей у проектах (якщо використовується pipenv або poetry)
Pipfile
Pipfile.lock
poetry.lock

# Ігнорування файлів бази даних SQLite
*.sqlite3

# Ігнорування середовищевих змінних
.env
*.env
